@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-underline {
    @apply hover:underline underline-offset-4 hover:text-secondaryBlue transition-all duration-300;
  }
}

:root {
  --primaryDark: #181818;
  --primaryLight: white;
  --clutchBlue-50: #f0f6fc;
  --clutchBlue-100: #d9eaf9;
  --clutchBlue-200: #c0def5;
  --clutchBlue-300: #a7d2f2;
  --clutchBlue-400: #8ec6ee;
  --clutchBlue-500: #75baeb;
  --clutchBlue-600: #5caee7;
  --clutchBlue-700: #43a2e4;
  --clutchBlue-800: #2a96e0;
  --clutchBlue-900: #118ad7;
  --primaryBlue: rgb(15 23 42);
  --secondaryBlue: rgb(56 189 248);
  --cardBackground: rgb(51, 65, 85);
}

body {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.text-stroke {
  -webkit-text-stroke: 0.5px var(--primaryDark);
}

.laser {
  animation: glow 750ms infinite alternate;
}

.spin-clockwise {
  animation: spin-clockwise 5s linear infinite;
}

.spin-counterclockwise {
  animation: spin-counterclockwise 5s infinite;
}

.blurry-filter {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.custom-backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.custom-backdrop-blur-lg {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.custom-backdrop-blur-3xl {
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
}

.circle-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-content {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
    transform-origin: top 50%;
  }
  25% {
    transform: rotate(90deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(180deg);
    transform-origin: center;
  }
  75% {
    transform: rotate(270deg);
    transform-origin: bottom 50%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: right 50%;
  }
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
    transform-origin: top 50%;
  }
  25% {
    transform: rotate(-90deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(-180deg);
    transform-origin: center;
  }
  75% {
    transform: rotate(-270deg);
    transform-origin: bottom 50%;
  }
  100% {
    transform: rotate(-360deg);
    transform-origin: right 50%;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  video:fullscreen {
    width: 50vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: contain;
  }
  .animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
  }
  .animate-fadeInDelay {
    animation: fadeInDelay 0.8s ease-out 1s forwards;
    opacity: 0; /* ensures it starts hidden */
  }
}
