@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-underline {
    @apply hover:underline underline-offset-4 hover:text-clutchBlue-500 transition-all duration-300;
  }
}

:root {
  --primaryDark: #181818;
  --primaryLight: white;
  --clutchBlue-50: #f0f6fc;
  --clutchBlue-100: #d9eaf9;
  --clutchBlue-200: #c0def5;
  --clutchBlue-300: #a7d2f2;
  --clutchBlue-400: #8ec6ee;
  --clutchBlue-500: #75baeb;
  --clutchBlue-600: #5caee7;
  --clutchBlue-700: #43a2e4;
  --clutchBlue-800: #2a96e0;
  --clutchBlue-900: #118ad7;
}

body {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.light-gradient-container-small {
  height: 75px;
  background-image: linear-gradient(
    to bottom,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--clutchBlue-100)
  );
}

.light-gradient-container-small-rotated {
  height: 75px;
  background-image: linear-gradient(
    to top,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--clutchBlue-100)
  );
}

.light-gradient-container-large {
  height: 150px;
  background-image: linear-gradient(
    to bottom,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--clutchBlue-100)
  );
}

.light-gradient-container-large-rotated {
  height: 150px;
  background-image: linear-gradient(
    to top,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--clutchBlue-100)
  );
}

.dark-gradient-container-small {
  height: 75px;
  background-image: linear-gradient(
    to bottom,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--primaryDark)
  );
}

.dark-gradient-container-small-rotated {
  height: 75px;
  background-image: linear-gradient(
    to top,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--primaryDark)
  );
}

.dark-gradient-container-large {
  height: 150px;
  background-image: linear-gradient(
    to bottom,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--primaryDark)
  );
}

.dark-gradient-container-large-rotated {
  height: 150px;
  background-image: linear-gradient(
    to top,
    var(--clutchBlue-600),
    var(--clutchBlue-500),
    var(--clutchBlue-400),
    var(--clutchBlue-300),
    var(--clutchBlue-200),
    var(--primaryDark)
  );
}

.text-stroke {
  -webkit-text-stroke: 0.5px var(--primaryDark);
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
    transform-origin: top 50%;
  }
  25% {
    transform: rotate(90deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(180deg);
    transform-origin: center;
  }
  75% {
    transform: rotate(270deg);
    transform-origin: bottom 50%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: right 50%;
  }
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
    transform-origin: top 50%;
  }
  25% {
    transform: rotate(-90deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(-180deg);
    transform-origin: center;
  }
  75% {
    transform: rotate(-270deg);
    transform-origin: bottom 50%;
  }
  100% {
    transform: rotate(-360deg);
    transform-origin: right 50%;
  }
}

.laser {
  animation: glow 750ms infinite alternate;
}

.spin-clockwise {
  animation: spin-clockwise 5s linear infinite;
}

.spin-counterclockwise {
  animation: spin-counterclockwise 5s infinite;
}

.blurry-filter {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.custom-backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.custom-backdrop-blur-lg {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.custom-backdrop-blur-3xl {
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
}
